@import url(compania.css);
@import url(soluciones.css);


/*Inicio barra de navegacion*/
*{
    margin: 0;
    padding: 0;
    /*border: 0;*/
    vertical-align: baseline;
    box-sizing: border-box;
}
body{
    background: rgb(0,38,81);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
    transition: padding-top 0.6s ease;
    color: blanchedalmond;
}
header{
    width: 100%;
    height: 130px;
    background: rgb(16,68,129);
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
header h1{
    font-size: 42px;
    color: white;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.5s ease;
}
header h1 i{
    font-weight: bold;
    text-transform: uppercase;
}
header nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(45,171,227,0.8);
}
header nav a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}
header nav a:hover{
    background: rgba(0, 0, 0, 0.5); 
}
/*Fin barra de navegacion*/
h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
}
p{
    margin-bottom: 2rem;
    line-height: 2;
    color: rgb(245, 231, 231);
}
.wrapper{
    max-width: auto;
    margin:  auto;
}

/*Contenedor y Cartas*/
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 330px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 255, 255, 0.2);
}
.container .card img{
    width: 330px;
    height: 220px;
}
.container .card h4{
    font-weight: 200;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
/*Fin Contenedor y cartas*/
.contenedor{
    width: 98%;
    margin: auto;
}
.contenedor a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}
/* PDF*/
iframe{
    margin: auto;
    width: 90%;
    height: 150vh;
}